{% extends "portal/base.html" %}
{% load static %}

{% block full_title %}<title>Shadab Manpowers</title>{% endblock %}

{% block body %}


    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="site-blocks-cover" style="background-image: url({% static "images/student-2052868_1920.jpg" %});" data-aos="fade" data-stellar-background-ratio="0.5">
              <div class="container">
                <div class="row row-custom align-items-center">
                  <div class="col-md-10">
                    <h1 class="mb-2 text-white w-75"><span class="font-weight-bold">Shadab Manpowers</span></h1>
                    <h3 class="mb-2 text-white w-75">Helping to serve quality jobs and candidates</h3>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="site-blocks-cover" style="background-image: url({% static "images/university-chalks.jpg" %});" data-aos="fade" data-stellar-background-ratio="0.5">
              <div class="container" >
                <div class="row row-custom align-items-center">
                  <div class="col-md-10">
                    <h1 class="mb-2 text-white w-75"><span class="font-weight-bold">Special focus on Teaching Jobs</span></h1>
                    <h3 class="mb-2 text-white w-75">Schools | Colleges | Institutes | Universities</h3>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="site-blocks-cover" style="background-image: url({% static "images/bulletin-board-3127287_1280.jpg" %});" data-aos="fade" data-stellar-background-ratio="0.5">
              <div class="container">
                <div class="row row-custom align-items-center">
                  <div class="col-md-10">
                    <h1 class="mb-2 text-white w-75"><span class="font-weight-bold">Shadab Manpowers</span></h1>
                    <h3 class="mb-2 text-white w-75">Helping to serve quality jobs and candidates</h3>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>



    <div class="site-section" id="chairman">
        <div class="container">
              <div class="block-38">
                  <div class="block-38-image">
                    <div class="block-38-header">
                      <img src="{% static "images/shadab/profile.JPG" %}" alt="Image placeholder" class="rounded-circjle" style="width: 131px">
                      <h3 class="block-38-heading font-weight-bold">Professor Sayed Shabbir Ahmed Adulaziz</h3>
                      <p class="text-black-opacity-5">- ( M.A, B.P.Ed, D.S.M )</p>
                    </div>
                </div>
              </div>

            <div class="bg-white pl-lg-5 pl-0  pb-lg-5 pb-0">
            <p>35 years in the field of education as a Teacher, Principal, Headmaster, Administrative Officer, Educational and Social Counselor.
                Gracefully have received 23 awards from different institutions. Now working to serve good quality jobs and candidates for institutions for humanity.
                </p>
            <p class="font-weight-bold">Career :</p>
            <ul class="site-block-check">
              <li>Ex. Principal @ Jamila Arif Fazlani Urdu D.Ed College Kondhwa, Pune</li>
              <li>Retd. Head Master @ Haji Abdul Latif Fazlani Urdu High School & Jr. College</li>
              <li>Administrative Officer @ Paschim Maharashtra Education Trust, Kondhwa Pune.</li>
              <li>Asst. Teacher @ Different High Schools in Satara, Koregaon, Mahableshwar, Panchgani and Ratnagiri.</li>
              <li>Vast Experience in Establishing and Administration of Primary, Pre-Primary, Secondary, Higher Secondary and University Level Institutions.</li>
              <li>Counseling and Guidance in Career and Higher Education</li>
              <li>Have received 23 awards from different institutions.</li>
            </ul>

            </div>
        </div>
        <div id="about_us" class="container">
            <div class="row justify-content-center text-center mb-5">
              <div class="col-md-6" data-aos="fade" >
                <h2>About Us</h2>
              </div>
            </div>


        <div class="row justify-content-center" data-aos="fade" data-aos-delay="100">
          <div class="col-md-10">
            <div class="accordion unit-8" id="accordion">
            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">What is Shadab Manpowers<span class="icon"></span></a>
              </h3>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p class="text-justify">We provide to our client extremely reliable qualified, expert and dedicated teachers to their educational institutions.
We have newly established the manpower solutions in the field of education to provide the skilled and trained qualified teachers to teach in the aided, unaided and private schools.
                      Under the guidance of our mentor <a href="#chairman">Mr. Sayed Shabbir Ahmed </a>. Who is having the 35 years of vast experience in Establishing and administrations of various Schools and  Colleges.
These services are rendered with the help of our experienced professionals to exceed the expectations of our esteemed clients.
We created job opportunities for teachers in various sections to serve the educational Institutions.
We are passionately determined to provide best and qualified teachers in various schools and colleges
</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">About Chariman Mr. Sayed Shabbir Ahmed<span class="icon"></span></a>
              </h3>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                    <p>We are gracefully doing these services under guidance of our mentor Mr. Sayed Shabbir Ahmed Adulaziz -(M.A, B.P.Ed, D.S.M) having 35 years in the field of education as a Teacher, Principal, Headmaster, Administrative Officer, Educational and Social Counselor. he have served a great service in education field.</p>
                    <p>He owns following names with proud :-</p>
                    <ul>
                        <li>Ex.Founder Principal : Jamila Arif  Fazlanii Urdu D.Ed College.Pune</li>
                        <li>Retd.Head Master : Haji Abdul Latif Fazlani Urdu High School & Jr.College.Pune</li>
                        <li>Founder Presinent : Shadab Education Society,Pune.</li>
                        <li>Chairman : A.Y.Sayed Memmorial Charitable Trust,Pune.</li>
                      </ul>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">Know our Pricing !<span class="icon"></span></a>
              </h3>
              <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Shadab Manpowers is the only one of its kinds which provides the employment services in the field of teaching.
We are providing you these services at reasonable Rates/charges of Registrations fees much lower than any news paper or other job agency.
We offers 3 basic plans to candidates (50rs per Month, 90rs per 2 Months and 120rs per 3 months) And 3 offres to recruiter
                      (Rs50 per Month, Rs90 per 2 Months and 120rs per 3 months). Except these, we also offers other season wise plans.</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">Career Guidance<span class="icon"></span></a>
              </h3>
              <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>If you are looking any for any information in the field of education, up gradation of your educational qualifications, teachers job in various field of education. Please feel free to contact us, we will help you and guide you.</p>
                    <p>you can mail your query from <a href="#contact">here</a> or directly contact us.<a href="#contact">Contact Info</a></p>
                    <p>We also provide guidance and counseling services if required to help individuals to select right path in the field of education and to achieve the right goal.
                </p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

          </div>
          </div>
        </div>

      </div>
    </div>

    <div class="bg-light" style="padding-top: 40px;padding-bottom: 40px">
        <div id="memories" class="container">
        <div class="row justify-content-center text-center mb-4">
          <div class="col-md-6" data-aos="fade" >
            <h3>Memories of our Mentor</h3>
          </div>
        </div>
        <div style="box-shadow: 0 0 10px 2px lightgray">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                    <li data-target="#demo" data-slide-to="4"></li>
                    <li data-target="#demo" data-slide-to="5"></li>

                  </ul>

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static "images/shadab/a.JPG" %}" alt="Los Angeles" width="1100" height="600">
                        <div class="carousel-caption">
                            <h5>Rashtriya Gaurav Award</h5>
                            <p>- Delhi 2006</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static "images/shadab/b.JPG" %}" alt="Chicago" width="1100" height="600">
                        <div class="carousel-caption">
                            <h5>Hind Gaurav Award</h5>
                            <p>- Delhi 2006</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static "images/shadab/c.JPG" %}" alt="New York" width="1100" height="600">
                        <div class="carousel-caption">
                            <h5>Hind Gaurav Award</h5>
                            <p>- Delhi 2006</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static "images/shadab/d.JPG" %}" alt="New York" width="1100" height="600">
                        <div class="carousel-caption">
                            <h5>Hind Gaurav Award</h5>
                            <p>- Delhi 2006</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static "images/shadab/e.JPG" %}" alt="New York" width="1100" height="600">
                        <div class="carousel-caption">
                            <h5>Hind Gaurav Award</h5>
                            <p>- Delhi 2006</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static "images/shadab/g.jpg" %}" alt="New York" width="1100" height="600">
                        <div class="carousel-caption">
                            <h5>Hind Gaurav Award</h5>
                            <p>- Delhi 2006</p>
                        </div>
                    </div>
                  </div>
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
                </div>
    </div>
    </div>


    <div class="site-section">
      <div id="key_features" class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-6" data-aos="fade">
            <h3>Key Features</h3>
          </div>
        </div>
        <div class="row hosting">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="100">
            <div class="unit-3 h-100 bg-white">
              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon fl-bigmug-line-portfolio23"></span>
                </div>
                <h2 class="h5">Search Jobs Easily</h2>
              </div>
              <div class="unit-3-body">
                <p>Search jobs easily with your customize requirements. Get notified about latest jobs and get job details.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="200">

            <div class="unit-3 h-100 bg-white">

              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon icon-contact_phone"></span>
                </div>
                <h2 class="h5">Direct Contact</h2>
              </div>
              <div class="unit-3-body">
                <p>Get direct contact of candidates and recruiters without any disturbance. We provide unlimited contacts.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="300">

            <div class="unit-3 h-100 bg-white">

              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon icon-rupee"></span>
                </div>
                <h2 class="h5">Reasonable Price</h2>
              </div>
              <div class="unit-3-body">
                <p>Search jobs and candidates at very low cost. We provide cheapest subscriptions along with unlimited access.</p>
              </div>
            </div>

          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="400">

            <div class="unit-3 h-100 bg-white">

              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon fl-bigmug-line-user144"></span>
                </div>
                <h2 class="h5">Search Expert Candidates</h2>
              </div>
              <div class="unit-3-body">
                <p>Search candidates as per your requirements with help of our customize filters. And get candidate details.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="500">

            <div class="unit-3 h-100 bg-white">

              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon fl-bigmug-line-clipboard68"></span>
                </div>
                <h2 class="h5">Easy To Manage</h2>
              </div>
              <div class="unit-3-body">
                <p>Easily maintain your profile, proposals and jobs by viewing, deleting and updating them at one click.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="600">

            <div class="unit-3 h-100 bg-white">

              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon-rocket"></span>
                </div>
                <h2 class="h5">Fast Service</h2>
              </div>
              <div class="unit-3-body">
                <p>Get job or candidate very fast without any trouble. Fast search, contact, apply and get hired.</p>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>


    <div class="site-section bg-light">
      <div id="contact" class="container">
        <div class="row">

          <div class="col-md-12 col-lg-8 mb-5">

            <form action="#" class="p-5 bg-white">

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Full Name</label>
                  <input type="text" id="fullname" class="form-control" placeholder="Full Name">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Email Address">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Subject</label>
                  <input type="text" id="subject" class="form-control" placeholder="Enter Subject">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="message">Message</label>
                  <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Send us your queries or complaints or suggestions."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send" class="btn btn-primary  py-2 px-4">
                </div>
              </div>


            </form>
          </div>

          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">Contact Info</h3>
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">Kondhwa Khurd, Pune, Maharashtra. 411048</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+91 9890644345</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">shabbirsayed893@gmail.com</a></p>

            </div>

          </div>
        </div>
      </div>
    </div>
{% endblock %}