{% extends "portal/base.html" %}

{% block title %}Delete Proposal | {{ proposal.job.headline }}{% endblock %}

{% block body %}
    {% if proposal %}
        <div class="container text-cneter">
            <a onClick="javascript:history.go(-1);"><button style="float: left" class="btn btn-primary icon icon-arrow-left"></button></a>
            <h3 class="text-black text-center">Delete Proposal</h3>
            <hr><br>
            <form method="post" action="{% url "portal:proposal_delete" proposal_id=proposal.id %}">
                {% csrf_token %}
                <br>
                <p>Proposal Message : {{ proposal.message }}</p>
                <h4>Do you really want to delete this Proposal ?</h4>
                <br>
                <div class="container text-center">
                    <input class=" col-md-2 btn btn-danger" value="YES" type="submit">
                    <a href="{% url "portal:proposal_details" pk=proposal.id%}" class="col-md-2 btn bg-primary text-black">NO</a>
                </div>

            </form>


            <hr><br>
        </div>
    {% endif %}
{% endblock %}