{% extends "portal/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Recruiter Login{% endblock %}

{% block body %}

    <div class="container">
        <h3 class="text-center">Recruiter Login</h3>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary font-weight-bold" type="submit">Login</button>
            <br><br>
            <a href="{% url "portal:password_reset" %}"><span>Forgot Password ?</span></a>
        </form>
    </div>

{% endblock %}