{% extends 'portal/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
  <div class="text container">
         <h3 class="text-center">Password Reset</h3><hr><br>
         <p>
            We've emailed you instructions for resetting your password, if an account exists with the email you entered.
            You should receive email shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            or check your spam folder.
          </p>
  </div>

{% endblock %}