{% extends 'portal/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Set Password{% endblock %}

{% block body %}
    <div class="text-center container">

      {% if validlink %}
        <h3>Change password</h3><hr>
          <br>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn bg-primary text-white font-weight-bold">Change password</button>
        </form>
      {% else %}
          <h3>Invalid Link</h3><hr>
          <br>
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
      {% endif %}
    </div>
{% endblock %}