{% extends 'portal/base.html' %}
{% block title %}Password Reset Complete{% endblock %}

{% block body %}
    <br>
    <div class="container text-center">
        <h3>Password Rest Complete</h3><hr><br>
        <p>
            Your password has been set. You may go ahead and Login now.
                <br><br>
              <a href="{% url 'portal:login' %}"><button class="btn bg-primary text-white font-weight-bold">Candidate Login</button></a>
              <a href="{% url 'recruiter:login' %}"><button class="btn bg-success text-white font-weight-bold">Recruiter Login</button></a>
        </p>
    </div>

{% endblock %}